<!-- pop-up -->
<div class="modal fade bd-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 542px;height: 342px;">
     <table style="margin-top: 30px;margin-left: 50px;border-top-width: 22px;">
         <form>
             <tr>
                 <td>Tên khách hàng</td>
                 <td><input type="text" placeholder="Ngoc Phuc Do" name='customer_name' required></td>
             </tr>
             <tr>
                 <td>Số điện thoại</td>
                 <td><input type="text" placeholder="0986280613" name="customer_phone" required></td>
             </tr>
             <tr>
                 <td>Email</td>
                 <td><input type="text" placeholder="taken.jb@gmail.com" name='customer_email' required></td>
             </tr>
             <tr>
                 <td>Địa chỉ nhận hàng</td>
                 <td><input type="text" placeholder="Kim Nguu, Hai Ba Trung, Ha Noi" name="customer_address" required></td>
             </tr>
             <tr>
                 <td>Hình thức thanh toán</td>
                 <td>
                     <input type="radio" id="ck1" checked> Chuyển khoản
                     <br>
                     <input type="radio" id="ck2" > COD (Cash On Deliverly)

                 </td>
             </tr>
             <tr>
                 <td rowspan =2 colspan=2><button type="submit" style="margin-left: 150px;margin-top: 30px;">Mua hàng</button></td>
             </tr>

         </form>
     </table>
    </div>
  </div>
</div>
